<div class='header'>
	<div class='header__background'>
		<img src="/public/images/photo_38.png">
		<div class='container'>
			<div class='header__container'>
				<div class="header__title_box">
					<div class="circle"></div>
					<div>
						<form action="/" method="post"><button type="submit" class="header__title">NFT.Ring</button></form>
					</div>
				</div>
				<ul class='header__menu_list'>
					<li class='list__item'>Market</li>
					<li class='list__item'>Activity</li>
					<li class='list__item'>Feature</li>
					<li class='list__item'>Community</li>
				</ul>
				<form action="/" class="form__container" method="post">
					<button type="submit" class="form__btn">Login</button>
				</form>
			</div>
			<div class="header__text_container">
				<div class="big__white_title">
					The home of minimalist buying and selling
				</div>
				<div class="text__item_box">
					This NFT website is a website that features buying and selling, news and blogs. Designed with a minimalist and
					informative concept
					<div class="form__box">
						<form action="/explore"><button class="form__btn">Explore</button></form>
						<form action="/create"><button class="form__btn">Create</button></form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>